.canvas {
    background-image: url("../assets/screen.png");
    height: 1920px;
    width: 1080px;
    background-size: cover;
    background-color: whitesmoke;
}

.dollsContainer {
    position:relative;
}

.dollsContainer img{
    position: absolute;
    width: 800px;
    top: 980px;
    left: 130px;
}

.buttons {
    position: relative;
}

.buttons .btnLeft{
    position:absolute;
    top: 1370px;
    left: 250px;
    width: 8.5rem;
}
.buttons .btnPress{
    position:absolute;
    top: 1370px;
    left: 475px;
    width: 8.5rem;
}
.buttons .btnRight{
    position:absolute;
    top: 1370px;
    left: 700px;
    width: 8.5rem;
}

.buttons img:active {
    width: 8rem;
}

.craneContainer {
    position:relative;
}

.cranePillar {
    position: absolute;
    top: 400px;
    /* left: 480px; */
    width: 56px;
    /* height: 100px; */
    background-color: #B4B4B4;
    overflow: hidden;
    transition: margin-left 0.2s ease;
}
.craneCapture {
    position: absolute;
}
 
