.canvas {
    background-image: url("src/components/bcn_02/assets/screen.png");
    height: 1920px;
    width: 1080px;
    background-size: cover;
    background-color: whitesmoke;
}

.clouds {
    position: relative;
}
.cloud {
    position: absolute;
    height: 250px;
}
.motor {
    position:relative;
    height: 230px;
    top: 1500px;
}

.choicesBox {
    position:absolute;
    margin-top: 15rem;
    margin-inline: 5.5rem;
    padding-block: 3rem;
    width: 55rem;
    border: 15px solid #5D3652;
    border-radius: 60px;
    background-color: rgba(243, 64, 152, 0.82);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choicesBox h2 {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: white;
    font-weight: 700;
}
.choicesBox button {
    width: 70%;
    padding-block: 1.5rem;
    border: 10px solid #5D3652;
    border-radius: 25px;
    margin-block: 0.2rem;
    background-color: white;
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
} 

@keyframes vibrate {
    0% { transform: translateY(0); }
  25% { transform: translateY(-1px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(1px); }
  100% { transform: translateY(0); }
}

.vibrate {
    animation: vibrate 0.5s infinite;
}